$page-background-color: #1e293b;
$page-foreground-color: #cbd5e1;

$base-font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;

$breakpoints: (
  'small'  : 360px,
  'medium' : 640px,
  'large'  : 960px
);