.hero {
    color: white;
    background-color: #1e3a8a;
    background-image: url('img/banner-bg.svg');
    //background-color: #4f46e5;
    //background-image: linear-gradient(#4f46e5 0%, #3730a3 100%);
    background-size: cover;
    background-position: center center;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 8px 10px -6px rgba(0,0,0,.1);
    padding: 24px;
    border-radius: 16px;

    @include respond-to('medium') {
        padding: 48px;
    }

    @include respond-to('large') {
        padding: 64px;
    }

}

.hero__image {
    width: 100%;
    height: auto;
    margin-bottom: 24px;

    @include respond-to('large') {
        margin-bottom: 40px;
    }

}

.hero__image--mobile {

    @include respond-to('small') {
        display: none;
    }

}

.hero__image--desktop {
    display: none;

    @include respond-to('small') {
        display: block;
    }

}

.hero__secondary {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;

    @include respond-to('small') {
        flex-direction: row;
        justify-content: space-between;
    }

}

.hero__icon {
    vertical-align: middle;
    width: auto;
    height: 16px;
    margin-right: 8px;

    @include respond-to('medium') {
        height: 24px;
    }

}

.hero__meta {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    margin: 0;

    @include respond-to('medium') {
        font-size: 18px;
    }

    @include respond-to('large') {
        font-size: 24px;
    }

}