.section {
    margin-top: 32px;
    margin-bottom: 32px;
}

.section__title {
    display: block;
    border-bottom: 1px solid #334155;
    font-size: 23px;
    line-height: 24px;
    padding-bottom: 8px;
    color: white;
    margin-bottom: 24px;
}