h1, h2, h3, h4 {
    color: white;
    font-weight: 600;
}

h1,
.h1 {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.01em;

    @include respond-to('medium') {
        font-size: 33px;
        line-height: 40px;
    }

}

h4,
.h4 {
    font-size: 19px;
    line-height: 24px;
}

h5,
.h5 {
    font-size: 16px;
    line-height: 20px;
}

.lede {
    color: #64748b;
}